<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            รถบังคับ
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <div>Speed : {{ speed }}</div>
        <ion-range min="0" max="1023" pin="true" color="primary" (ionChange)="Speed()" [(ngModel)]="speed">
            <ion-label slot="start">0</ion-label>
            <ion-label slot="end">1023</ion-label>
        </ion-range>
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                </ion-col>
                <ion-col size="4">
                    <ion-button [color]="action=='go' ? 'danger':'primary'" expand="full" (touchstart)="GetSend('go')" (touchend)="GetSend('stop')">
                        <ion-icon name="arrow-up-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-button [color]="action=='left' ? 'danger':'primary'" expand="full" (touchstart)="GetSend('left')" (touchend)="GetSend('stop')">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4"></ion-col>
                <ion-col size="4">
                    <ion-button [color]="action=='right' ? 'danger':'primary'" expand="full" (touchstart)="GetSend('right')" (touchend)="GetSend('stop')">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                </ion-col>
                <ion-col size="4">
                    <ion-button [color]="action=='back' ? 'danger':'primary'" expand="full" (touchstart)="GetSend('back')" (touchend)="GetSend('stop')">
                        <ion-icon name="arrow-down-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>